*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    margin: 0px;
    background-color: rgb(94, 194, 161);

}
#name{
    font-size: 2em;
}
a{
    margin: 10px;
    font-size: 2em;
    color: black;
    border: none;
    text-decoration: none;
}
.passion{
    display: inline;
    border-top: 2px solid black;
    margin-right: 20px;
}
.passion img{
    float: right;
    align-self: flex-end;
    justify-content: center;
    
}
footer img{
    width: 50px;
    margin-right: 50px;
    padding: 5px;
}
footer img:last-of-type{
    margin-right: 0px;
}
a:hover{
    text-decoration: underline;
}
.active{
    text-decoration: underline;
}
nav{
    text-transform: uppercase;
    display: block;
    float: right;
    justify-items: flex-end;
    align-self: center;
}
header{
    display: block;
    background-color: aqua;
    padding: 10px;
    margin: 0px;
}
html{
    font-family: sans-serif;
    margin: 0%;
    box-sizing: border-box;
}
p{
}
.intro{
    display: flex;
    flex-flow: column;
}
.quote{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: cursive;
}

main{
    font-size: 20px;
    line-height: 150%;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 50%;
    min-width: 800px;
    margin: auto;
    background-color: aquamarine;
    min-height: 100vh;
    padding-left: 1em;
    padding-bottom: 60px;
    box-shadow: 0px 10px 5px 5px rgb(42, 102, 87);
}
.vh{
    min-height: 90vh;
}
footer{
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: aqua;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.passion img{
    height: 200px;
}
.passion h3{
    margin: 10px;;
}
main h2{
    margin-right: 10px;
}
section{
    background-color: antiquewhite;
    margin-right: 20px;
    padding: 20px;
    margin-top: 10px;
}
section h2{
    margin-top: 0px;
    border-bottom: .5px solid black;
}
h1{
    border-bottom: 1px solid black;
    margin-right: 20px;
}
section img{
    height: 200px;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}